<h1>
  Stupid Coaching
</h1>

<figure class="container bg-warning">
  <blockquote class="blockquote">
    <p><%=params[:question] %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    your question
  </figcaption>
</figure>

<figure class="container bg-warning">
  <blockquote class="blockquote">
    <p><%=@coach_answer %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Your Coach
  </figcaption>
</figure>

<div class="container">
    <p><%= link_to 'Ask again...', ask_path %></p>
</div>
